<script lang="ts">
export default {
  data() {
    return {
      composants: [],
      lables: [],
      data: [],
    };
  },
  methods: {
    async fetchData() {
      const url = `http://localhost:5000/api/inventaire`;
      let data = await (await fetch(url)).json();
      this.data = data;
      this.composants = data.composants;
      this.labels = data.labels;
    },
  },
  mounted() {
    this.fetchData();
  },
};
</script>

<template>
  <div class="card" style="width: 18rem" v-for="comp in composants">
    <img src="..." class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ comp.nom }}</h5>
      <p class="card-text">{{ comp.emplacement }}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</template>
